<header class="px-4">
  <div class="headerstring1">
      <nav class="navbar navbar-light  pt-md-5">
          <a class="navbar-brand mb-3 ml-md-0 mx-auto px-2 bg-blog text-center" href="#">MagBlog</a>
            <form class=" form-inline flex-nowrap mb-3">
                <input class=" form-control  text-uppercase font-weight-bold px-2 py-0 search" type="search" aria-label="Search">
                <button class=" btn bg-info h-auto px-3 text-uppercase text-white font-weight-bold search" type="submit">Search</button>
            </form>
            <ul class="list-unstyled list-inline mr-md-0 mx-auto h2 mb-3 ">
                <li class="list-inline-item mx-0"><a href="#" class="link-inverse bg-warning"><i class="fas fa-rss text-white px-1"></i></a></li>
                <li class="list-inline-item mx-0"><a href="#" class="link-inverse bg-info-dark"><i class="fab fa-facebook-f text-white px-2"></i></a></li>
                <li class="list-inline-item mx-0"><a href="#" class="link-inverse bg-info"><i class="fab fa-twitter text-white px-1"></i></a></li>
            </ul>
      </nav>  
  </div>
  <div class="headerstring2">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <button class="navbar-toggler  m-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbar">
        <div class="navbar-nav w-100 text-center ">
          <a class="nav-item nav-link w-100 bg-info text-white " href="#">Home </a>
          <a class="nav-item nav-link w-100 bg-success text-white" href="#">cinema</a>
          <a class="nav-item nav-link w-100 bg-info-dark text-white" href="#">Magazine</a>
          <a class="nav-item nav-link w-100 bg-info text-white" href="#">Cssauthor.com</a>
          <a class="nav-item nav-link w-100 bg-warning text-white" href="#">Topmenu</a>
          <a class="nav-item nav-link w-100 bg-danger text-white" href="#">Archives</a>
          <a class="nav-item nav-link w-100 bg-info-gray text-white " href="#">Contact us</a>
        </div>
      </div>
    </nav>
  </div>
</header>